tensorflow-2.8.0-cp310-cp310-linux_x86_64.whl filter=lfs diff=lfs merge=lfs -text
libffi6_3.2.1-8_amd64.deb filter=lfs diff=lfs merge=lfs -text
Lezioni/data/JetNtuple_RunIISummer16_13TeV_MC_1.root filter=lfs diff=lfs merge=lfs -text
/Lezione[[:space:]]1.A[[:space:]]-[[:space:]]Data[[:space:]]Science.pptx filter=lfs diff=lfs merge=lfs -text
/Lezione[[:space:]]1.B[[:space:]]-[[:space:]]Tecnologie.pptx filter=lfs diff=lfs merge=lfs -text
/Lezioni/data/Crimes_-_2001_to_present.csv filter=lfs diff=lfs merge=lfs -text
/Lezioni/data/jet_images.h5 filter=lfs diff=lfs merge=lfs -text
/Lezioni/data/ntuple_4mu_VV.root filter=lfs diff=lfs merge=lfs -text
/Lezioni/data/ntuple_4mu_bkg.root filter=lfs diff=lfs merge=lfs -text
/Lezioni/data/ntuple_4mu_gg.root filter=lfs diff=lfs merge=lfs -text
/Lezioni/data/training_10k.csv filter=lfs diff=lfs merge=lfs -text
/Lezioni/img/deep.gif filter=lfs diff=lfs merge=lfs -text
/Lezioni/data/data1.txt filter=lfs diff=lfs merge=lfs -text
/Lezione[[:space:]]3.A[[:space:]]-[[:space:]]Regressione.pptx filter=lfs diff=lfs merge=lfs -text
/Lezioni/Lezione[[:space:]]3.B[[:space:]]-[[:space:]]Soluzioni.ipynb filter=lfs diff=lfs merge=lfs -text
/Lezione[[:space:]]4.A[[:space:]]-[[:space:]]Decision[[:space:]]Tree.pptx filter=lfs diff=lfs merge=lfs -text
/Lezione[[:space:]]5.A[[:space:]]-[[:space:]]Clusterizzazione[[:space:]]e[[:space:]]Classificazione.pptx filter=lfs diff=lfs merge=lfs -text
/Lezione[[:space:]]6.A[[:space:]]-[[:space:]]Time[[:space:]]series.pptx filter=lfs diff=lfs merge=lfs -text
/Lezioni/Lezione[[:space:]]6.A[[:space:]]-[[:space:]]Time[[:space:]]Series.ipynb filter=lfs diff=lfs merge=lfs -text
/Lezione[[:space:]]7.A[[:space:]]-[[:space:]]Reti[[:space:]]Neurali.pptx filter=lfs diff=lfs merge=lfs -text
/Esame/data/PJME_hourly.csv filter=lfs diff=lfs merge=lfs -text
/Lezioni/Lezione[[:space:]]2.A[[:space:]]-[[:space:]]Pandas[[:space:]]DataFrame.ipynb filter=lfs diff=lfs merge=lfs -text
/Lezioni/data/data_fifa19.csv filter=lfs diff=lfs merge=lfs -text
/Lezione[[:space:]]4.A[[:space:]]-[[:space:]]Classificazione.pptx filter=lfs diff=lfs merge=lfs -text
/Lezioni/Lezione[[:space:]]4.A[[:space:]]-[[:space:]]Classificazione.ipynb filter=lfs diff=lfs merge=lfs -text
/Lezioni/data/JetNtuple_RunIISummer16_13TeV_MC_1.root filter=lfs diff=lfs merge=lfs -text
/Lezioni/data/PJME_hourly.csv filter=lfs diff=lfs merge=lfs -text
/Lezione[[:space:]]5.A[[:space:]]-[[:space:]]Clustering.pptx filter=lfs diff=lfs merge=lfs -text
/Lezioni/Lezione[[:space:]]4.B[[:space:]]-[[:space:]]Soluzioni.ipynb filter=lfs diff=lfs merge=lfs -text
/Lezioni/Lezione[[:space:]]5.A[[:space:]]-[[:space:]]Clustering[[:space:]]e[[:space:]]anomaly[[:space:]]detection.ipynb filter=lfs diff=lfs merge=lfs -text
/Lezioni/Lezione[[:space:]]5.B[[:space:]]-[[:space:]]Soluzioni.ipynb filter=lfs diff=lfs merge=lfs -text
/Lezioni/data/movies_metadata.csv filter=lfs diff=lfs merge=lfs -text
/Lezioni/Lezione[[:space:]]7.A[[:space:]]-[[:space:]]Machine[[:space:]]Learning.ipynb filter=lfs diff=lfs merge=lfs -text
/tensorflow-2.8.0-cp310-cp310-linux_x86_64.whl filter=lfs diff=lfs merge=lfs -text
